/* Reset body margins and padding */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* hide overflows */
    width: 100%; /* Ensures full width */
    height: 100%; /* custom full height, controls scrolling area */
    box-sizing: border-box;
    background-color: #f3e4e2;
}

/* styling for icons, highlighting, and input focus */
.iconClass {
    width: 20px;
    height: 20px;
} 
::selection { /* highlighting for most browsers */
    background-color: #aacae6;
    color: #000;
}
::-moz-selection { /* highlighting for firefox */
    background-color: #aacae6;
    color: #000;
} 



/* Header styling */
#header {
    background-color: #00002A;
    height: 85px;
    width: 100%;
    top:0;
    left:0;
    position:relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* keeps the header on top */
}
/* styling for logo container*/
#logo {
    width: 80%;
    color: white;
}
/* styling for share link and button container*/
#shareLinkAndButton {
    display: flex;
    width: 425px;
    height: 40px
}
/* styling for share link */
#copyLink {
    width: 100%;
    border-radius: 20px 0px 0px 20px;
    border: none;
    padding-left: 15px;
    font-size: 14px;
}
/* styling for input focus */
#copyLink:focus{
    outline: 2px solid #FA8072;
}
#copyLink:focus + #copyButton{
    outline: 2px solid #FA8072;
}
/* styling for share button */
#copyButton {
    width: 15%;
    color: white;
    background-color: #FA8072;
    border-radius: 0px 20px 20px 0px;
    border: none;
    padding: 10px 10px 10px 5px;
    cursor: pointer;
    /* Add shadow */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* Smooth transition for hover and click effects */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-size: 13px;
}
/* Hover effect: Slightly darken the button and increase shadow */
#copyButton:hover {
    background-color: hsl(6, 93%, 78%);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}
/* Active/click effect: Change color to a darker pink */
#copyButton:active {
    background-color: #FA8072;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}
/* styling for header items container*/
#overallShare {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
/* styling for tooltip*/
#toolTip {
    display: none;
    position: fixed;
    white-space: nowrap;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #4948489c;
    color: white;
    top: 67px;
    right: 170px;
}



/* styling for download container */
#downloadContainer {
    margin: 0px 25px 0px 35px;
}
/* styling for download button */
#downloadBtn {
    width: 125px;
    height: 40px;
    color: white;
    background-color: #FA8072;
    border-radius: 20px;
    padding: 10px 10px 10px 5px;
    border: none;
    cursor: pointer;
    /* Add shadow */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* Smooth transition for hover and click effects */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
/* Hover effect: Slightly darken the button and increase shadow */
#downloadBtn:hover {
    background-color: hsl(6, 93%, 78%);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}
/* Active/click effect: Change color to a darker pink */
#downloadBtn:active {
    background-color: #FA8072;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}




/* styling for main body */
#main-body {
    background-color: #090919;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-y: auto;
    overflow-x: hidden;
}

/* styling for embedded file */
#embed {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding-top: 0px;
}


/* styling for video */
#video {
    width: 50%;
}

/* styling for audio container */
#audio {
    width: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
/* styling for audio player */
#audioControl {
    width: 100%;
    background-color: #f0f3f4;
    filter: invert(1);
}
/* styling for audio screen container */
#audioScreen {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* styling for audio background */
#audioBG {
    width: 100%;
    border: none;
    cursor: pointer;
    transition: filter 0.3s ease-in-out;
}
/* for screen pausing etc */
#audioScreen:hover #audioBG{
    filter: brightness(50%) contrast(90%) blur(3px);
}
#audioScreen:hover #audioPausePlay{
    opacity: 100;
    visibility: visible;
}
#audioPausePLay {
    width: 5%;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}




#infoBox {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
/* styling for title container */
#titleBox {
    width: 50%;
    margin: 20px 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* styling for label */
#fileLabel {
    width: 25%;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
    color: white;
    background-color: #FA8072;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
/* styling for title */
#title {
    width: 75%;
    border-radius: 0px 5px 5px 0px;
    border: none;
    color: black;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 15px 10px 15px;
    font-size: 16px;
}
/* styling for expir date container */
#expirBox {
    width: 50%;
    margin: 10px 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* styling for expir label */
#expirLabel {
    width: 25%;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
    color: white;
    background-color: #7daed8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
/* styling for expir date */
#expirDate {
    width: 75%;
    border-radius: 0px 5px 5px 0px;
    border: none;
    color: black;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 15px 10px 15px;
    font-size: 16px;
}