/* General Styles */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #aacae6; /* Matches main-body bg */
  display: flex;
  flex-direction: column;
  align-items: center;
} 

/* Main Content Section */
#main-body {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

/* White Container for Terms Content */
#terms-content {
  background-color: white;
  width: 75%;
  height: auto; /* Let content define height */
  padding: 40px;
  overflow-y: auto; /* Allows scrolling inside */
  margin-bottom: 95px; /* Prevents footer from blocking the last item */  
  display: flex;
  flex-direction: column;
}

/* Title Styling */
#terms-content h1 {
  font-size: 2.8rem;
  color: #00002A;
  margin-bottom: 20px;
  text-align: left; /* Matches privacy page */
}

/* Paragraph Styling */
#terms-content p {
  font-size: 1.4rem;
  line-height: 1.8;
  color: #00002A;
  margin-bottom: 20px;
  text-align: justify;
}

/* Footer Styling */
#footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

#footer-half{
  display: flex;
  flex-direction: column;
}


.github-logo {
  position: relative;
  width: 40px;
  height: auto;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  right: 20px;
}

.github-logo:hover {
  opacity: 1;
}



@media(max-width:525px){
  #terms-content h1 {
    font-size: 2.0rem;
    color: #00002A;
    margin-bottom: 5px;
    text-align: start;
  }
  #terms-content p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 10px;
    text-align: start;
  }
  #terms-content {
    margin-bottom: 225px; /* Prevents footer from blocking the last item */
    width: 100%;
  }
}