/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #B0C4DE; /* Light blue background */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main Content Section */
#main-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 0;
}

/* Header Styling */
#main-body h1 {
  font-size: 3.5rem;
  color: #333;
  margin-bottom: 20px;
}

/* Paragraph Styling */
#main-body p {
  font-size: 2.2rem;
  line-height: 2.2;
  color: #555;
  margin-bottom: 15px;
}

/* Content Box */
.content-box {
  padding: 20px;
}

  #main-body h1 {
      font-size: 3rem;
  }

  #main-body p {
      font-size: 1.5rem;
  }

/* White Container for Terms Content */
#terms-content {
  background-color: white;
  height: 75vh; /* Adjust height as needed */
  width: 100%;
  max-width: 1300px;
  padding: 40px;
  border-radius: 15px;

  max-height: 80vh; /* Allows scrolling inside */  
  margin-bottom: 10px; /* Creates space between the container and the footer */
}

.github-logo {
  position: absolute;
  right: 100px;
  width: 30px;
  bottom: 33px;
  height: auto;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.github-logo:hover {
  opacity: 1;
}
