/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #B0C4DE; /* Light blue background */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main Content Section */
#main-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 0;
}

/* White Container for Terms Content */
#terms-content {
  background-color: white;
  height: 75vh; /* Adjust height as needed */
  width: 100%;
  max-width: 1300px;
  padding: 40px;
  border-radius: 15px;

  overflow-y: auto; /* Enables scrolling */
  max-height: 80vh; /* Allows scrolling inside */  
  margin-bottom: 20px; /* Creates space between the container and the footer */
}

/* Alternating Section Colors */
.section {
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
}

.white {
  background-color: white;
}

.grey {
  background-color: #F7F7F7; /* Light grey alternating sections */
}


