/* staging container styling */
#staging {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #f2f2f2;
    width: 550px; 
    height: 500px; 
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 5px 10px 5px;
    box-shadow: 0px 50px 50px hsla(0, 0%, 0%, 0.300);
    margin-top: 50px;
}

/* file preview styling */
#filePreview{
    border: 1px solid #fa807269;
    width: 530px; 
    height: 325px;
    overflow-y: auto;
}

/* file preview item styling */
.file-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #FA8072;
    background-color: #f2f2f2;
    margin-bottom: 5px;
}

/* styling for the div for the file name and size */
.file-data-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    margin: 0px 5px 0px 7px;
    color: hsla(0, 0%, 0%, 0.40);
}

/* file preview item delete button styling */
.delete-button{
    background-color: #FA8072;
    border: none;
    cursor: pointer;
}

/* delete button img styling */
.delete-button-img{
    width: 20px;
    height: 20px;
}

/* Hover effect for delete button */
.delete-button:hover {
    background-color: hsl(6, 93%, 78%);
}

/* file info box styling */
#fileInfoDisplay{
    width: 520px;
    height: 65px;
    margin: 10px;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid hsla(0, 0%, 0%, 0.08);
}

/* container for buttons and size styling */
#fileInfoBtnsAndSize{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid hsla(0, 0%, 0%, 0);
}

/* file size styling */
#fileSize{
    color: hsla(0, 0%, 0%, 0.40);
    padding-top: 5px;
    padding-right: 5px;
}

/* add files button styling */
#addMoreButton{
    color: #FA8072;
    border: 1px solid #FA8072;
    border-radius: 5px;
    cursor: pointer;
    width: 175px;
    height: 25px;
    font-size: 12px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;

    /* Smooth transition for hover and click effects */
    transition: background-color 0.3s ease;
}

/* icon for functional buttons */
.function-img{
    width: 20px;
    height: 20px;
}

/* Hover effect for add files button */
#addMoreButton:hover {
    background-color: hsl(5, 68%, 90%);
}

/* reset button styling */
#resetButton{
    color: #FA8072;
    border: 1px solid #FA8072;
    border-radius: 5px;
    cursor: pointer;
    width: 175px;
    height: 25px;
    font-size: 12px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Smooth transition for hover and click effects */
    transition: background-color 0.3s ease;
}

/* Hover effect for add files button */
#resetButton:hover {
    background-color: hsl(5, 68%, 90%);
}

/* styling for file info buttons */
#fileInfoButtonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 0px 0px 0px;
    gap: 10px;
    border: 1px solid hsla(0, 0%, 0%, 0);
}

#uploadTitle{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid hsla(0, 0%, 0%, 0);
    height: 25px;
    gap: 10px;
}

#uploadTitleText{
    color: hsla(0, 0%, 0%, 0.60);
    font-size: 16px;
    padding-left: 10px;
}

#uploadTitleBox{
    height: 20px;
    width: 315px;
    text-align: center;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    border: 1px solid hsla(0, 0%, 0%, 0.40);
    color: hsla(0, 0%, 0%, 0.60);
}

/* upload button styling */
#submitButton{
    color: white;
    background-color: #FA8072;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    width: 50%;
    height: 50px;
    font-size: 15px;

    /* Smooth transition for hover and click effects */
    transition: background-color 0.3s ease;
}

/* Hover effect for upload button */
#submitButton:hover {
    background-color: hsl(6, 93%, 78%);

}

/* Active/click effect: Change color to a darker pink */
#submitButton:active {
    background-color: #FA8072;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}



@media(max-width:525px){
    #staging {
        width: 350px; 
        height: 300px; 
    }
    #filePreview{
        width: 340px; 
        height: 195px;
        margin-top: 5px;
    }
    #fileInfoDisplay{
        width: 330px;
        height: 50px;
        margin: 10px;
        margin-bottom: 20px;
    }
    #fileInfoButtonsContainer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0px;
    }
    #fileInfoBtnsAndSize{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid hsla(0, 0%, 0%, 0);
    }
    #addMoreButton{
        width: 175px;
        height: 20px;
        font-size: 12px;
        padding-right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
    }
    #resetButton{
        width: 175px;
        height: 20px;
        font-size: 12px;
        padding-right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
    }
    #fileSize{
        color: hsla(0, 0%, 0%, 0.40);
        padding-top: 10px;
        padding-right: 5px;
    }
    #uploadTitle{
        height: 15px;
        gap: 5px;
        margin-top: 20px;
    }
    #submitButton{
        width: 50%;
        height: 40px;
        font-size: 15px;
        margin-top: 30px;
        border-radius: 10px;
    }

}