/* staging container styling */
#staging {
    border-radius: 20px;
    background-color: #f2f2f2;
    width: 550px; 
    height: 600px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px 1px 20px 1px;
    box-shadow: 0px 50px 50px hsla(0, 0%, 0%, 0.300);
}

/* file preview styling */
#filePreview{
    border: 1px solid #FA8072;
    border-radius: 15px;
    width: 530px; 
    height: 375px;
}

/* file info styling */
#fileInfoDisplay{
    /*border: 1px solid #d8d8d8;*/
    border-radius: 15px;
    width: 530px;
    height: 155px;
}

/* upload button styling */
#submitButton{
    color: white;
    background-color: #FA8072;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    width: 50%;
    height: 50px;
    font-size: 15px;

    /* Smooth transition for hover and click effects */
    transition: background-color 0.3s ease;
}

/* Hover effect: Slightly darken the button and increase shadow */
#submitButton:hover {
    background-color: hsl(6, 93%, 78%);
  }
  
/* Active/click effect: Change color to a darker pink */
#submitButton:active {
    background-color: #FA8072;
}